<body>	
	<!-- <h1>Home page</h1> -->

	<div class="container-fluid">


	<div class="apps" id="stocks">
	  Name: <%= @stock.name %> <br>
	  Bid: <%= @stock.bid %> <br>
	  Ask: <%= @stock.ask %> <br>
	  Time: <%= @stock.created_at %>
	</div>

	<div class="apps" id="weather">
	weather
	</div>
	<div class="apps" id="calendar">
	calendar
	</div>
	<div class="apps" id="gmail">
	gmail
	</div>
	<div class="apps" id="trello">
	trello
	</div>
	<div class="apps" id="date">
	date
	</div>
	<div class="apps" id="time">
	time
	</div>
	<div class="apps" id="news">
	news
	</div>

	</div> <!-- end container-fluid*/ -->

</body>