<script>
	function updateDT() {
		var now = new Date();
		var milliseconds = now.getMilliseconds().toString().slice(0, 2);
		if (milliseconds.length < 2) { 
			milliseconds = '0' + milliseconds;
			}
		time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds() + ':' + milliseconds;
		var dd = now.getDate();
		var monthNames = ["January", "February", "March", "April", "May", "June",
  		"July", "August", "September", "October", "November", "December"];
		var yyyy = now.getFullYear();
		var mm = monthNames[now.getMonth()];
		if(dd<10) {
		    dd='0'+dd
		} 
		date = dd + ' ' + mm + ' ' + yyyy;
 
		document.getElementById('time').innerHTML = time;
		document.getElementById('date').innerHTML = date;
	}
	setInterval(updateDT, 100);
	
	

</script>

<body>	
	<!-- <h1>Home page</h1> -->

	<div class="container-fluid test"> 
		<div class="row-fluid"> 
		    <div class="col-md-7 test"> <!-- left side -->
		    	<div class="row-fluid">
			    	<div class="col-md-6 test"> <!-- trello -->
			    		trello
			    	</div> 
			    	<div class="col-md-6 test"> <!-- google stuff -->
			    		<div class="row-fluid"> 
			    			<div class="col-md-12 test"> <!-- gmail -->
			    				gmail
			    			</div>
			    		</div>
			    		<div class="row-fluid"> 
			    			<div class="col-md-12 test"> <!-- google calendar -->
			    				calendar
			    			</div>
			    		</div>
			    	</div> <!-- END google stuff -->
			    </div>
			    <div class="row-fluid">
			    	<div class="col-md-12 test"> <!-- stocks -->
			    		Name: <%= @stock.name %> <br>
		  				Bid: <%= @stock.bid %> <br>
		  				Ask: <%= @stock.ask %> <br>
		 				Time: <%= @stock.created_at %>
			    	</div> 
			    </div>
		    </div> <!-- END left side --> 
		    <div class="col-md-5 test"> <!-- right side -->
		    	<div class="row-fluid"> 
			    			<div class="col-md-12 test"> <!-- news -->
			    				news
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="col-md-12 test"> <!-- weather -->
			    				weather
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="col-md-12 test" id="date"> <!-- date -->
			    				date
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="col-md-12 test" id="time"> <!-- time -->
			    				time
			    			</div>
			    </div>
		    </div> <!-- END right side -->

		</div> 
	</div> <!-- END container-fluid -->




	</div> <!-- end container-fluid*/ -->

</body>