<body>	
	<!-- <h1>Home page</h1> -->

	<div class="container-fluid"> 
		<div class="row-fluid"> 
		    <div class="col-md-7"> <!-- left side -->
		    	<div class="row-fluid">
			    	<div class="span6"> <!-- trello -->
			    		trello
			    	</div> 
			    	<div class="span6"> <!-- google stuff -->
			    		<div class="row-fluid"> 
			    			<div class="span12"> <!-- gmail -->
			    				gmail
			    			</div>
			    		</div>
			    		<div class="row-fluid"> 
			    			<div class="span12"> <!-- google calendar -->
			    				calendar
			    			</div>
			    		</div>
			    	</div> <!-- END google stuff -->
			    </div>
			    <div class="row-fluid">
			    	<div class="span12"> <!-- stocks -->
			    		stocks
			    	</div> 
			    </div>
		    </div> <!-- END left side --> 
		    <div class="col-md-5"> <!-- right side -->
		    	<div class="row-fluid"> 
			    			<div class="span12"> <!-- news -->
			    				news
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="span12"> <!-- weather -->
			    				weather
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="span12"> <!-- date -->
			    				date
			    			</div>
			    </div>
			    <div class="row-fluid"> 
			    			<div class="span12"> <!-- time -->
			    				time
			    			</div>
			    </div>
		    </div> <!-- END right side -->

		</div> 
	</div> <!-- END container-fluid -->




		<div id="stocks">
		  Name: <%= @stock.name %> <br>
		  Bid: <%= @stock.bid %> <br>
		  Ask: <%= @stock.ask %> <br>
		  Time: <%= @stock.created_at %>
		</div>

		<div class="apps" id="weather">
		weather
		</div>
		<div class="apps" id="calendar">
		calendar
		</div>
		<div class="apps" id="gmail">
		gmail
		</div>
		<div class="apps" id="trello">
		trello
		</div>
		<div class="apps" id="date">
		date
		</div>
		<div class="apps" id="time">
		time
		</div>
		<div class="apps" id="news">
		news
		</div>

	</div> <!-- end container-fluid*/ -->

</body>