body {
  color: white;
  min-height: 100vh;

  background: rgba(0,17,17,1);
  background: -moz-linear-gradient(top, rgba(0,17,17,1) 0%, rgba(5,32,49,1) 34%, rgba(9,38,56,1) 48%, rgba(10,41,61,1) 55%, rgba(19,53,78,1) 82%, rgba(16,61,86,1) 91%, rgba(22,71,102,1) 100%);
  background: -webkit-gradient(top, right top, color-stop(0%, rgba(0,17,17,1)), color-stop(34%, rgba(5,32,49,1)), color-stop(48%, rgba(9,38,56,1)), color-stop(55%, rgba(10,41,61,1)), color-stop(82%, rgba(19,53,78,1)), color-stop(91%, rgba(16,61,86,1)), color-stop(100%, rgba(22,71,102,1)));
  background: -webkit-linear-gradient(top, rgba(0,17,17,1) 0%, rgba(5,32,49,1) 34%, rgba(9,38,56,1) 48%, rgba(10,41,61,1) 55%, rgba(19,53,78,1) 82%, rgba(16,61,86,1) 91%, rgba(22,71,102,1) 100%);
  background: -o-linear-gradient(top, rgba(0,17,17,1) 0%, rgba(5,32,49,1) 34%, rgba(9,38,56,1) 48%, rgba(10,41,61,1) 55%, rgba(19,53,78,1) 82%, rgba(16,61,86,1) 91%, rgba(22,71,102,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,17,17,1) 0%, rgba(5,32,49,1) 34%, rgba(9,38,56,1) 48%, rgba(10,41,61,1) 55%, rgba(19,53,78,1) 82%, rgba(16,61,86,1) 91%, rgba(22,71,102,1) 100%);
  background: linear-gradient(to bottom, rgba(0,17,17,1) 0%, rgba(5,32,49,1) 34%, rgba(9,38,56,1) 48%, rgba(10,41,61,1) 55%, rgba(19,53,78,1) 82%, rgba(16,61,86,1) 91%, rgba(22,71,102,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001111', endColorstr='#164766', GradientType=1 )
  
}

div {
  color: #d9f1f2;
}

 .test {
// // 	/*for layout testing*/
// 	background-color: rgba(209,209,209,.25);
// 	border-top-style: solid;
// 	/*border-width: 2px;*/
 	padding: 6px 0px;
 	margin: 5px 0px;

 }

 .headlines {
  margin-bottom: 25px;
  font-size: 1.2em;
 }

.weather {
  text-align: center;
  padding-bottom: 25px;

  .temperature { 
    font-size: 5.75em;
    font-weight: bolder;
    text-align: right;
  }	
  .summary {
    font-size: 1.7em;
  }
  .icon {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .highLow {
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
  }
}



#time {
	font-size: 115px;
	padding: 2px;
	padding-left: 15px;
  padding-top: 0px;
  margin-top: 0px;
  line-height: .9;
}

#date {
	font-size: 35px;
	padding: 2px;
	padding-left: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

#calendar {
	
}

#gmail {
	
}

#trello {
	
}